

/* ////////////////////import Slider from "react-slick";///////////////////////////////////// */

.image-slider {
  position: relative;
width: fit-content;
max-width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: #fff;
}

.slide-image {
  position: relative;

  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  position: relative;
  z-index: 2;
  text-align: center;
 
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.slide-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.slide-subtitle {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}


@media(max-width:450px){

  .slide-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .slide-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

}





.slide-description {
  font-size: 1rem;
  line-height: 1.5;
}

.slick-dots li button:before {
  color: #a2ff00;
  margin-top: 30px;
}

.slick-dots li.slick-active button:before {
  color: #f30606;
}

/* Custom Arrow Styles */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  /* z-index: 99999999999; */
  background: rgba(38, 37, 37, 0.4);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.custom-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.custom-next {
  right: 15px;
}

.custom-prev {
  left: 15px;
}




/* end slick///////////////////////////////////////////// */


/* import "../components/query.css"; scroll top// Add styling for the button here */











.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
  opacity: 1;
  transform: scale(1.1);
}

.scroll-to-top:active {
  transform: scale(0.9);
}



/* import "../components/query.css"; // scroll top  Add styling for the button here/ */


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }



::selection {
  background-color: #870b1a;
  color: #fff;  }


.bg-cl{
  background-color: #151515;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  margin-top: 0;
  padding-top: 0;
  zoom:80%;
}

.main-query{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;

margin-left: 60px;
margin-right: 60px;

}


.paragraph-query {
  font-size: 1.5rem; }
  .paragraph-query:not(:last-child) {
    margin-bottom: 2rem; 
 
}

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; 


    
    } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important;
     }
     }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }


  .heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;


  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #ffffff, #ff3e09);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; 

}
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.2rem; 
line-height: 4rem;
    
    } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }
  .heading-secondary:hover {
    /* transform: skewY(2deg) skewX(15deg) scale(1.1); */
    text-shadow: 0.5rem 1rem 2rem rgba(154, 9, 9, 0.2); }



    .heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
color: #ffb900; 
line-height: 3rem;}



/*     
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); } */

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(https://i.imgur.com/LSxWGf7.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(https://i.imgur.com/bstNkS7.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(https://i.imgur.com/Uc2nSfq.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #000000;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(249, 6, 6, 0.4);
    border-radius: 12px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(213, 1, 1, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.2);
           } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.2); } }
    .composition__photo:hover {
      outline: 0.6rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(152, 3, 3, 0.15);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 2rem;

}


.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: rgb(135, 7, 7);
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background-color: rbga(#660707, 1);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(71, 82, 3, 0.564);
    border-bottom: 3px solid #1d182e; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #680606; }
  .form__input::-webkit-input-placeholder {
    color: #000000; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }



.row-query {
  max-width: 114rem;
  margin: 0 auto; }
  .row-query:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row-query:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row-query {
      max-width: 50rem;
      /* padding: 0 3rem;  */
    } }
  .row-query::after {
    content: "";
    display: table;
    clear: both; }
  .row-query [class^="col-"] {
    float: left; }
    .row-query [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row-query [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row-query [class^="col-"] {
        width: 100% !important; } }
  .row-query .col-1-of-2 { 
    width: calc((100% - 6rem) / 2); }
  .row-query .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row-query .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row-query .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row-query .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row-query .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }


.section-about {
  /* background-color: #151515; */
  color: #eee;

  padding: 13rem 0;
  margin-top: -20vh; 




}
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 12rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(69, 165, 52, 0.705), rgba(0, 1, 1, 0.6)), url(https://i.imgur.com/6dAFUgW.jpg);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -10rem; 
  margin-bottom: -10rem;

 

}
  .section-features > * {
    transform: skewY(5deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }




/* .section-book {
  padding: 15rem 0;


} */
  @media only screen and (max-width: 56.25em) {
    .section-book {

      padding: 5rem 0; 

    } }

.book {
  background-image: linear-gradient(105deg, rgba(4, 4, 4, 0.579) 0%, rgba(11, 4, 34, 0.484) 50%, transparent 50%), url(https://i.imgur.com/2x8nSno.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 30px;
  color: white;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg,  rgba(4, 4, 4, 0.579) 0%, rgba(11, 4, 34, 0.484) 65%, transparent 65%), url(https://i.imgur.com/2x8nSno.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right,  rgba(4, 4, 4, 0.579) 0%, rgba(11, 4, 34, 0.484) 100%), url(https://i.imgur.com/2x8nSno.jpg); } }
  .book__form {
    width: 50%;
    padding: 2rem;
  margin-bottom: 3rem; 

}

    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }



/* 
        @media(max-width:970px){


          .heading-secondary{

          line-clamp: 2rem;
          background-color: #870b1a;
          }
        } */


        /* .sc-y{
          transform: skewY(-5deg);
        } .sc-y > * {
          transform: skewY(5deg); } */

          .sc-y{
            /* margin: 10rem; */

            margin-top: 3rem;
            position: relative;

            /* padding-bottom: 5rem; */
          
          }


          @media(max-width:330px){
            .bg-cl{
              background-color: #151515;
              font-family: "Lato", sans-serif;
              font-size: 1rem;
              margin-top: 0;
              padding-top: 0;
              zoom:70%;
            }
          }